body {
  font-family: Verdana, Arial, sans-serif;
}
a {
  outline: none;
  text-decoration: none;
  color: blue;
}
a:hover {
  text-decoration: underline;
}

.block {
  padding-top: 8px;
  margin-top: 8px;
  border-top: 2px solid #ccc;
}
.block-first {
  padding-top: 0;
  margin-top: 0;
  border-top: none;
}

table.account-block th {
  font-weight: bold;
  padding-right: 4px;
  text-align: left;
}

table.transactions .date {
  text-align: left;
}
table.transactions .description {
  padding: 8px 8px 0;
}
table.transactions td.description {
  font-weight: normal;
  font-size: 85%;
  color: #777;
}
table.transactions .opposing_account {
  padding-right: 8px;
  text-align: center;
}
table.transactions td.opposing_account {
  font-size: 85%;
}
table.transactions .amount {
  text-align: right;
}
.credit {
  color: #3a3;
}
.debit {
  color: #900;
}

.balance-match {
  color: #3a3;
  font-weight: bold;
}
.balance-mismatch {
  color: #900;
  font-weight: bold;
}
.balance-unknown {
  color: #cc0;
  font-weight: bold;
  font-size: 90%;
  position: relative;
  top: -.05em;
  left: .2em;
}

.note, .warning {
  max-width: 600px;
}
.warning {
  color: #900;
}

.clear {
  clear: both;
}

#form-links {
  display: none;
}

#form-links a {
  display: block;
  float: left;
  padding: 5px;
  margin-right: 5px;
}
#form-links a.active {
  background-color: #ccc;
}

table.form-table th {
  text-align: left;
  font-weight: normal;
}
table.form-table select {
  max-width: 12em;
}

#form-filters tr.field-opposing_account {
  display: none;
}
#form-filters tr.field-opposing_accounts ul {
  list-style: none outside;
  padding: 0;
  margin: 0;
}

#clear-filters {
  display: none;
}

#batch-modify-fields th {
  font-size: 85%;
  padding: .25em 0;
}
#batch-modify-fields .info {
  color: #777;
}
#batch-modify-fields .info .count {
  font-weight: bold;
}
