body {
  font-family: Verdana, Arial, sans-serif;
}
a {
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.block {
  padding-top: 8px;
  margin-top: 8px;
  border-top: 2px solid #ccc;
}
.block-first {
  padding-top: 0;
  margin-top: 0;
  border-top: none;
}
.description {
  font-weight: bold;
  padding-right: 4px;
}
table.transactions .description-row .description {
  padding-top: 8px;
}
table.transactions .date {
  text-align: left;
}
table.transactions .description {
  padding: 0 8px;
}
table.transactions td.description {
  font-weight: normal;
  font-size: 85%;
  color: #777;
}
table.transactions .opposing_account {
  padding-right: 8px;
  text-align: center;
}
table.transactions td.opposing_account {
  font-size: 85%;
}
table.transactions .amount {
  text-align: right;
}
table.transactions .credit {
  color: #3a3;
}
table.transactions .debit {
  color: #900;
}

.clear {
  clear: both;
}

#forms .form {
  display: none;
}
#form-links a {
  display: block;
  float: left;
  padding: 5px;
  margin-right: 5px;
}
#form-links a.active {
  background-color: #ccc;
}

#form-filters th {
  text-align: left;
  font-weight: normal;
}
#form-filters tr.field-opposing_accounts {
  display: none;
}
#form-filters tr.field-opposing_accounts ul {
  display: none;
  list-style: none outside;
  padding: 0;
  margin: 0;
}
