*.pyc
settings.py
settings.patch
patch-settings.sh
TODO

# Virtualenv stuff
/bin
/include
/lib
/local

# Files attached to transactions
gnucash_data/static/upload/*
!gnucash_data/static/upload/.gitkeep
