{% load template_extras %}
<div class="block{% if account.webapp_key == 0 and showing_index %} block-first{% endif %}">
  <table class="account-block">
    <tr>
      <th>Account:</th>
      <td>
        {% if showing_index %}
          <a href="{% url money_views.views.account account.webapp_key %}">{{ account.name }}</a>
        {% else %}
          {{ account.name }}
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Type:</th>
      <td>{{ account.type.title }}</td>
    </tr>
    <tr>
      <th>Balance:</th>
      <td>
        {{ account.balance|format_dollar_amount_neg }}
        {% if account.balance == account.last_update.balance %}
          <span class="balance-match" title="Balance matches">&#10004;</span>
        {% else %}
          {% if account.has_updates %}
            {% if account.last_update.balance == None %}
              <span class="balance-unknown" title="Balance unverified">?</span>
            {% else %}
              <span class="balance-mismatch"
                title="Balance does not match (source: {{ account.last_update.balance|format_dollar_amount }})">
                &#10006;
              </span>
            {% endif %}
          {% endif %}
        {% endif %}
      </td>
    </tr>
    {% if account.has_updates %}
      <tr>
        <th>As of:</th>
        <td>{{ account.last_update.updated|utc_to_local|format_date_time }}</td>
      </tr>
    {% endif %}
    <tr>
      <th>Changed:</th>
      <td>
        {% if account.last_transaction_date %}
          {{ account.last_transaction_date|utc_to_local|format_date_time }}
        {% else %}
          (no transactions)
        {% endif %}
      </td>
    </tr>
  </table>
</div>

