{% load template_extras %}
{% load query_string %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>Account details - {{ account.name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}basic.css">
    <script type="text/javascript">
      var filteringAny = {% if any_filters_applied %}1{% else %}0{% endif %};
      var regexChars = {{ regex_chars_js|safe }};
      var accounts = {{ accounts_js|safe }};
      var currentAccountId = {{ current_account_js|safe }};
      var numTransactions = {{ num_transactions_js|safe }};
      var apiFunctionUrls = {{ api_functions_js|safe }};
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.shiftcheckbox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.selectfocus.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.hiddendimensions.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}script.js"></script>
  </head>
  <body>
    <select class="select-account">
      {% for account in all_accounts %}
        <option value="{{ account.guid }}">{{ account.path }}</option>
      {% endfor %}
    </select>
    <div class="block block-first">
      <a href="{% url money_views.views.index %}">Back to index</a>
    </div>
    {% include "account_block.html" %}
    {% include "txactions_page_block.html" %}
    <div class="block" id="forms">
      <div id="form-links">
        <a class="toggle-form" data-form="filters" id="toggle-filters" href="#">Filters</a>
        <a class="toggle-form" data-form="modify" href="#">Modify</a>
        <a class="toggle-form" data-form="other" href="#">Other</a>
      </div>
      <div class="clear" id="before-forms" />
      <div id="form-filters" class="form block block-first">
        {% include "filter_form.html" %}
      </div>
      <div id="form-modify" class="form block">
        {% include "modify_form.html" %}
      </div>
      <div id="form-other" class="form block">
        <ul class="links">
          <li>
            <a href="{% url money_views.views.batch_categorize account.webapp_key %}">
              Batch categorize transactions
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="block">
      <table class="transactions">
        <tr>
          <th class="date">Date</th>
          <th class="opposing_account">Opposing account</th>
          <th class="amount">Amount</th>
        </tr>

        {% for split in page.object_list %}
          <tr>
            <td class="description" colspan="3" data-value="{{ split.transaction.description }}">
              {{ split.transaction.description }}
              <a title="Search Google" target="_blank" class="search no-ul"
                href="http://www.google.com/search?q={{ split.transaction.description|urlencode }}">

                <img src="{{ STATIC_URL }}search_icon.png" />
              </a>
              {% if not split.transaction.any_split_has_memo %}
                <span class="add-memo" title="Add memo">...</span>
              {% endif %}
            </td>
          </tr>

          {% for memo_split in split.transaction.split_set.all %}
            <tr{% if memo_split.memo_is_id_or_blank %} class="hidden"{% endif %}
              data-split="{{ memo_split.guid }}" data-account="{{ memo_split.account.guid }}">

              <td class="memo" colspan="3" data-value="{{ memo_split.memo }}"
                title="Memo for account '{{ memo_split.account.path }}'">

                {{ memo_split.memo }}
              </td>
            </tr>
          {% endfor %}

          <tr data-split="{{ split.guid }}" data-opposing-split="{{ split.opposing_split.guid }}">
            <td class="date" data-value="{{ split.transaction.post_date|format_date }}">
              {{ split.transaction.post_date|format_date }}
            </td>
            <td class="opposing-account">
              {% if not one_opposing_account_filter_applied %}
                <a class="opposing-account-name"
                  href="{% query_string 'opposing_accounts=split.opposing_account.guid' '' %}">

                  {{ split.opposing_account.name }}
                </a>
              {% else %}
                <span class="opposing-account-name">
                  {{ split.opposing_account.name }}
                </span>
              {% endif %}
              <span class="change-opposing-account" data-value="{{ split.opposing_account.guid }}"
                title="Change opposing account">

                &#9660;
              </span>
            </td>
            <td class="amount {% if split.is_credit %}credit{% else %}debit{% endif %}">
              {{ split.amount|format_decimal }}
            </td>
          </tr>
        {% endfor %}

      </table>
    </div>
    {% include "txactions_page_block.html" %}
  </body>
</html>
