<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>Categorize multiple transactions</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}basic.css">
  </head>
  <body>
    <div class="block block-first">
      <div class="note">
        Modified <b>{{ modified_tx_count }}</b> transaction{% if modified_tx_count != 1 %}s{% endif %}
        and created <b>{{ rule_count }}</b> rule{% if rule_count != 1 %}s{% endif %}.
      </div>
    </div>
    <div class="block">
      <ul class="links">
        <li>
          <a href="{% url money_views.views.account account.webapp_index %}">
            Back to account
          </a>
        </li>
        <li>
          <a href="{% url money_views.views.batch_categorize account.webapp_index %}">
            Categorize more transactions
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>
