{% load template_extras %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>Categorize multiple transactions</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}basic.css">
  </head>
  <body>
    <div class="block block-first">
      <div class="note">
        Use the form below to categorize multiple transactions at once, and
        create rules that will be applied to all future transactions with the
        same description.  Only uncategorized transactions (those that
        currently balance to the <b>Imbalance-USD</b> account) will be
        modified.
      </div>
    </div>
    <form action="{% url views.apply_categorize account.webapp_index %}" method="post">
      <div class="block">
        <input type="submit" value="Categorize transactions" />
        <a href="{% url views.account account.webapp_index %}">Back to account</a>
      </div>
      <div class="block">
        {% if no_merchants %}
          No uncategorized transactions.
        {% else %}
          <table id="batch-modify-fields" class="form-table">
            {% for f in batch_modify_form.hidden_fields %}
              {{ f }}
            {% endfor %}
            {% for f in batch_modify_form.visible_fields %}
              <tr>
                <th>
                  <div class="description">
                    {{ f.field.merchant_info.index }}.
                    <a href="{% url views.account account.webapp_index %}?opposing_accounts={{ imbalance.guid|urlencode }}&tx_desc={{ f.field.merchant_info.tx_desc|urlencode }}">
                      {{ f.field.merchant_info.description }}</a>
                    <a title="Search Google" target="_blank" class="search"
                      href="http://www.google.com/search?q={{ f.field.merchant_info.tx_desc|urlencode }}">

                      <img src="{{ STATIC_URL }}search_icon.png" />
                    </a>
                  </div>
                  <div class="info">
                    <span class="count">
                      {{ f.field.merchant_info.count }}
                    </span>
                    transaction{% if f.field.merchant_info.count != 1 %}s{% endif %}
                    |
                    <span class="{% if f.field.merchant_info.amount < 0 %}debit{% else %}credit{% endif %}">
                      {{ f.field.merchant_info.amount|format_dollar_amount }}
                    </span>
                  </div>
                </th>
                <td>
                  {{ f.errors }}
                  {{ f }}
                </td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}
        {% csrf_token %}
      </div>
      <div class="block">
        <input type="submit" value="Categorize transactions" />
        <a href="{% url views.account account.webapp_index %}">Back to account</a>
      </div>
    </form>
  </body>
</html>
