<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>Modify account</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}basic.css">
  </head>
  <body>
    {% if errors %}
      <div class="block block-first">
        <div class="warning">
          Error(s) occurred: <br />
          {{ errors }}
        </div>
      </div>
    {% endif %}
    <div class="block{% if not errors %} block-first{% endif %}">
      {% if modified_tx_count %}
        <div class="note">
          Modified <b>{{ modified_tx_count }}</b> transaction{% if modified_tx_count != 1 %}s{% endif %}
          in account <b>{{ account.path }}</b> - set opposing account to
          <b>{{ opposing_account.path }}</b>.
        </div>
      {% else %}
        <div class="warning">
          No transactions were modified.
        </div>
      {% endif %}
    </div>
    <div class="block">
      {% include "hidden_filter_form.html" %}
    </div>
  </body>
</html>
