{% extends "page_base.html" %}

{% block title %}Account balances{% endblock %}

{% block body %}
  {% for account in accounts %}
    {% include "account_block.html" %}
  {% endfor %}
  <div class="block">
    <form action="{% url money_views.views.any_account %}" method="get">
      <table id="index-account-select">
        <tr>
          <td class="left">
            <label for="select-account">Other account:</label>
          </td>
          <td class="middle">
            <select name="select_account" id="select-account">
              <option value="" selected="selected">(Choose an account)</option>
              {% for account in all_accounts %}
                <option value="{{ account.guid }}">{{ account.path }}</option>
              {% endfor %}
            </select>
          </td>
          <td class="right">
            <input type="submit" value="Go" />
          </td>
        </tr>
      </table>
    </form>
  </div>
{% endblock %}
