{% extends "page_base.html" %}

{% load template_extras %}

{% block title %}
  Transaction attachments - {{ transaction }}
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ STATIC_URL }}page_txaction_files.js"></script>
{% endblock %}

{% block body %}
  <div class="block block-first">
    {{ transaction.post_date|format_date }} <strong>{{ transaction.description }}</strong><br />
    This transaction has {{ transaction.file_set.count }}
    attachment{{ transaction.file_set.count|pluralize }}.
    <a class="close-window no-ul" href="#">
      <i class="icon-remove"></i>
    </a>
  </div>
  {% for file in transaction.file_set.all %}
    <div class="block">
      {{ file.filename }} |
      <a class="delete-attachment"
        href="{% url money_views.views.transaction_delete_file transaction.guid file.hash %}">delete</a>
      <br />
      <img class="auto-resize" src="{{ STATIC_URL }}{{ file.web_path }}" />
    </div>
  {% endfor %}
  <div class="block">
    <form method="post" enctype="multipart/form-data" action="{% url money_views.views.transaction_upload_file transaction.guid %}">
      Upload image:<br />
      {# http://stackoverflow.com/a/12673480/106302 #}
      <input type="file" name="file" accept="image/*" /><br />
      <input type="submit" value="Upload" />
      {% csrf_token %}
    </form>
  </div>
{% endblock %}
