{% extends "page_base.html" %}

{% load template_extras %}
{% load query_string %}

{% block title %}
  Account details - {% if accounts|length > 1 %}multiple accounts{% else %}{{ account.description_or_name }}{% endif %}
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    var filteringAny = {% if any_filters_applied %}true{% else %}false{% endif %};
    var queryParams = {{ query_params_js|safe }};
    var regexChars = {{ regex_chars_js|safe }};
    var accounts = {{ accounts_js|safe }};
    var currentAccountIds = {{ current_accounts_js|safe }};
    var currentAccountsKey = {{ current_accounts_key_js|safe }};
    var numTransactions = {{ num_transactions_js|safe }};
    var apiFunctionUrls = {{ api_functions_js|safe }};
  </script>
  <script type="text/javascript" src="{{ STATIC_URL }}page_account_details.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}account_block.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}vendor/moment.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}vendor/d3/d3.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}vendor/c3-0.4.10/c3.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}txactions_chart.js"></script>

  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}vendor/c3-0.4.10/c3.min.css">
{% endblock %}

{% block body %}
  {# To avoid duplication of lots of HTML, this element is copied to all transactions #}
  {# using JavaScript, then the original is removed from the page. #}
  <select class="change-account">
    {% for account in all_accounts %}
      <option value="{{ account.guid }}">{{ account.path }}</option>
    {% endfor %}
  </select>
  <div class="block block-first">
    <a href="{% url money_views.views.index %}">Back to index</a>
  </div>
  {% for account in accounts %}
    {% include "account_block.html" %}
  {% endfor %}
  {% if accounts|length > 1 %}
    <div class="block">
      <b>Total balance:</b>
      {{ total_balance|format_dollar_amount_neg }}
    </div>
  {% endif %}
  {% include "txactions_chart.html" %}
  {% include "txactions_page_block.html" %}
  <div class="block" id="forms">
    <div id="form-links">
      <a class="toggle-form" data-form="filters" id="toggle-filters" href="#">Filters</a>
      <a class="toggle-form" data-form="modify" href="#">Modify</a>
      <a class="toggle-form" data-form="other" href="#">Other</a>
    </div>
    <div class="clear" id="before-forms" />
    <div id="form-filters" class="form block block-first">
      {% include "filter_form.html" %}
    </div>
    <div id="form-modify" class="form block">
      {% include "modify_form.html" %}
    </div>
    <div id="form-other" class="form block">
      <ul class="links">
        <li>
          <a href="{% url money_views.views.batch_categorize current_accounts_key %}">
            Batch categorize transactions
          </a>
        </li>
        <li>
          <a href="{% url money_views.views.account_csv current_accounts_key %}{% query_string %}">
            Download data
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="block">
    <table class="transactions">
      <tr>
        <th class="date">Date</th>
        <th class="opposing_account">Opposing account</th>
        <th class="amount">Amount</th>
      </tr>

      {% for split in page.object_list %}
        <tr data-tx="{{ split.transaction.guid }}">
          <td class="description" colspan="3" data-value="{{ split.transaction.description }}">
            {% if accounts|length > 1 %}
              <span class="account-index" title="{{ split.account.description_or_name }}">{{ split.account|index1_in:accounts }}</span>
            {% endif %}
            {{ split.transaction.description }}
            <a title="Search Google" target="_blank" class="transaction-control search no-ul no-events"
              href="http://www.google.com/search?q={{ split.transaction.description|urlencode }}">

              <i class="icon-search"></i>
            </a>
            <a title="Manage files" target="_blank" class="transaction-control manage-files no-ul no-events"
              href="{% url money_views.views.transaction_files split.transaction.guid %}">

              {{ split.transaction.file_set.count }}
              <i class="icon-file-alt"></i>
            </a>
            {% if not split.transaction.any_split_has_memo %}
              <i class="transaction-control add-memo icon-edit" title="Add memo"></i>
            {% endif %}
          </td>
        </tr>

        {% for memo_split in split.transaction.splits %}
          <tr{% if memo_split.memo_is_id_or_blank %} class="hidden"{% endif %}
            data-tx="{{ split.transaction.guid }}" data-account="{{ memo_split.account.guid }}"
            data-split="{{ memo_split.guid }}">

            <td class="memo" colspan="3" data-value="{{ memo_split.memo }}"
              title="Memo for account '{{ memo_split.account.path }}'">

              {{ memo_split.memo }}
            </td>
          </tr>
        {% endfor %}

        <tr data-tx="{{ split.transaction.guid }}"
          data-split="{{ split.guid }}" data-opposing-split="{{ split.opposing_split.guid }}">

          <td class="date" data-value="{{ split.transaction.post_date|format_date }}">
            {{ split.transaction.post_date|format_date }}
          </td>
          <td class="opposing-account">
            {% if not one_opposing_account_filter_applied %}
              <a class="transaction-control filter-opposing-account no-ul" title="Filter on this opposing account"
                href="{% query_string 'opposing_accounts=split.opposing_account.guid' '' %}">

                <i class="icon-filter"></i>
              </a>
            {% endif %}
            <a class="opposing-account-name" title="Go to account '{{ split.opposing_account.path }}'"
              href="{% url money_views.views.account split.opposing_account.webapp_key %}">

              {{ split.opposing_account.description_or_name }}</a>

            <i class="change-opposing-account icon-caret-down" data-value="{{ split.opposing_account.guid }}"
              title="Change opposing account"></i>
          </td>
          <td class="amount {% if split.is_credit %}credit{% else %}debit{% endif %}"
            data-value="{{ split.amount }}">

            {{ split.amount|format_decimal }}
          </td>
        </tr>
      {% endfor %}

    </table>
  </div>
  {% include "txactions_page_block.html" %}
  {% if can_add_transactions %}
    <div class="block">
      <p>
        <strong>Add new transaction</strong>
      </p>
      {% include "new_transaction_form.html" %}
    </div>
  {% endif %}
{% endblock %}
